* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
}

html,
body {
    display: grid;
    height: 100%;
    place-items: center;
    background: #000;
}

.wrapper {
    height: 200px;
    width: 700px;
    position: relative;
    background: linear-gradient(135deg, #14ffe9, #ffeb3b, #ff00e0);
    border-radius: 10px;
    cursor: default;
    animation: animate 1.5s linear infinite;
}

.wrapper .display, 
.wrapper span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.wrapper .display {
    z-index: 999;
    height: 170px;
    width: 660px;
    background: #1b1b1b;
    border-radius: 6px;
    text-align: center;
}

.display #time {
    line-height: 85;
    color: #fff;
    font-size: 50px;
    font-weight: 600;
    letter-spacing: 1px;
    background: linear-gradient(135deg, #14ffe9, #ddeb3b, #ff00e0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate 1.5s linear infinite;
}


.wrapper span {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background: inherit;
}

.wrapper span:first-child {
    filter: blur(7px);
}

.wrapper span:last-child {
    filter: blur(20px);
}

#id {
    display: flex;
    gap: 29px;
}

.q {
    width: 200px;
    height: 170px;
    border: 1px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border: none;
}

p {
    color: #fff;
    font-size: 90px;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.anim {
    color: #fff;
    font-size: 200px;
    border-radius: 50%; 
    position: absolute;
    bottom: -13px;
    right: -49px;
}

.active {
    animation: secAnim 1s infinite linear;
}